@model IEnumerable<LazyLoad.Models.RoleGruopJoinUsers>

<table class="table">
    <tr>
        <th>
            Username
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.User.UserName</td>
        </tr>
    }
</table>